.pageHeader {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.pageHeader > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}
