.chip {
  border-radius: 24px;
  padding: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: fit-content;
}

.chip > span {
  width: fit-content;
}

.green {
  border: 1px solid #52ad0a;
  color: #52ad0a;
}

.red {
  border: 1px solid #bd2f2f;
  color: #bd2f2f;
}

.yellow {
  border: 1px solid #dd8a0f;
  color: #dd8a0f;
}

.xs {
  max-width: 156px;
  /* height: 24px; */
  font-size: 13px;
}

.xs svg {
  height: 24px;
  width: 24px;
}

.md {
  /* width: 64px; */
  /* height: 32px; */
  font-size: 15px;
}

.md svg {
  height: 30px;
  width: 30px;
}

.xl {
  /* width: 96px; */
  /* height: 64px; */
  font-size: 17px;
}

.xl svg {
  height: 36px;
  width: 36px;
}
