.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.mainBlock {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 32px;
  /* max-height: 200px; */
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxes {
  display: flex;
  gap: 8px;
}
