.wrapper {
  width: 100vw;
  height: 100vh;

  overflow-x: auto;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .wrapper {
    overflow-y: hidden;
  }
}
