.wrapper {
  padding-top: 32px;
  max-width: 80vw;
  height: 100%;
}

.aboveNavbar {
  display: flex;
  justify-content: space-between;
  width: 64vw;
}

.titleWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
}

.userWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 32px;
  color: #dd8a0f;
  width: 25vw;
}

.username {
  font-size: 32px;
}

.navbar {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.navlist {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navitem {
  padding: 24px 0px;
  max-width: 290px;
  width: 25%;
  border: 3px solid #b4b4b4;
  border-radius: 12px;

  text-align: center;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  transition: all 0.2s;
}

.navitem:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.active {
  background: rgba(221, 138, 15, 0.56);
  border: 3px solid #dd8a0f;
}

.main {
  margin-top: 56px;
  padding-bottom: 96px;
}
